services:
  reeve-verifier-backend:
    restart: unless-stopped
    build:
      context: .
    ports:
      - "9000:9000"
    environment:
      - DB_URL=jdbc:postgresql://postgres-indexer:5432/reeve_verifier?currentSchema=reeve_verifier
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - SPRING_PROFILES_ACTIVE=docker-devkit
      - REEVE_SCRIPT_PATH=/app/plutus.json
      - STORE_CARDANO_HOST=host.docker.internal
      - KERI_ENABLED=${KERI_ENABLED:-false}
    depends_on:
      - postgres-indexer

  reeve-verifier-frontend:
    restart: unless-stopped
    build:
      context: frontend
    ports:
      - "3000:80"
    environment:
      PORT: "3000"
      VITE_API_URL: http://localhost:9000

  postgres-indexer:
    restart: unless-stopped
    image: postgres:15-alpine
    container_name: postgres-indexer
    environment:
      - POSTGRES_DB=reeve_verifier
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  
  yaci-cli:
    restart: unless-stopped
    image: bloxbean/yaci-cli:0.10.6
    env_file:
      - ./yaci-config/env
      - ./yaci-config/node.properties
    volumes:
      - ./yaci-config/node.properties:/app/config/node.properties
      - yaci-data:/clusters
    ports:
      - "${YACI_DEVNET_EXPOSED_PORT:-3001}:3001"
      - "8080:8080"
    entrypoint: [ "/app/yaci-cli", "create-node", "-o", "--start" ]

  yaci-viewer:
    restart: unless-stopped
    image: bloxbean/yaci-viewer:0.10.6
    ports:
      - "5173:5173"
    env_file:
      - ./yaci-config/env
    environment:
      PUBLIC_INDEXER_BASE_URL: ${PUBLIC_INDEXER_BASE_URL:-http://yaci-cli:8080/api/v1}
      PUBLIC_INDEXER_WS_URL: ${PUBLIC_INDEXER_WS_URL:-ws://localhost:8080/ws/liveblocks}

volumes:
  postgres-data:
  yaci-data:
