x-healthcheck: &healthcheck
  interval: 2s
  timeout: 3s
  retries: 5
  start_period: 2s

x-python-env: &python-env
  PYTHONUNBUFFERED: 1
  PYTHONIOENCODING: UTF-8

services:
  reeve-verifier-backend:
    restart: unless-stopped
    build:
      context: .
    ports:
      - "9002:9000"
    environment:
      - DB_URL=jdbc:postgresql://postgres-db:5432/reeve_verifier?currentSchema=reeve_verifier
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - REEVE_SCRIPT_PATH=/app/plutus.json
      - KERI_ENABLED=${KERI_ENABLED:-true}
      - KERI_BOOT_URL=${KERI_BOOT_URL:-http://keria:3903}
      - KERI_URL=${KERI_URL:-http://keria:3901}
      - KERI_OOBIS=${KERI_OOBIS:-}
    depends_on:
      - postgres-db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend-http.entrypoints=web"
      - "traefik.http.routers.backend-http.rule=Host(`${API_HOSTNAME:-api.example.com}`)"
      - "traefik.http.routers.backend-https.rule=Host(`${API_HOSTNAME:-api.example.com}`)"
      - "traefik.http.routers.backend-https.entrypoints=websecure"
      - "traefik.http.routers.backend-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"

  reeve-verifier-frontend:
    restart: unless-stopped
    build:
      context: frontend
    ports:
      - "3002:80"
    environment:
      PORT: "3002"
      VITE_API_URL: ${VITE_API_URL:-http://localhost:9002}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend-http.entrypoints=web"
      - "traefik.http.routers.frontend-http.rule=Host(`${FRONTEND_HOSTNAME:-example.com}`)"
      - "traefik.http.routers.frontend-https.rule=Host(`${FRONTEND_HOSTNAME:-example.com}`)"
      - "traefik.http.routers.frontend-https.entrypoints=websecure"
      - "traefik.http.routers.frontend-https.tls=true"
      - "traefik.http.middlewares.https-redirect.headers.customrequestheaders.X-Forwarded-Proto=https"

  postgres-db:
    restart: unless-stopped
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_DB=reeve_verifier
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "15432:5432"
  keria:
    image: ${KERIA_IMAGE:-docker.io/cardanofoundation/cf-idw-keria}:${KERIA_IMAGE_TAG:-c6498308}
    restart: unless-stopped
    environment:
      KERI_AGENT_CORS: 1
      <<: *python-env
    volumes:
      - ./keri-config/keria.json:/keria/config/keri/cf/keria.json
    command: start --config-dir /keria/config --config-file keria.json --name agent
    healthcheck:
      test: wget --spider http://keria:3902/spec.yaml
      <<: *healthcheck
    ports:
      - 3901:3901
      - 3902:3902
      - 3903:3903
volumes:
  postgres-data:
  yaci-data:
