add_header Content-Security-Policy "default-src 'self'; script-src 'self' https://cdn.matomo.cloud; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; img-src 'self' data:; font-src 'self' https://fonts.gstatic.com; connect-src 'self' https://cardanofoundation.matomo.cloud https://api.gleif.org __CSP_DOMAIN__; frame-ancestors 'none'; object-src 'none'; base-uri 'self'; frame-src 'self' __CSP_DOMAIN__; media-src 'self' https://pro-reeve-videos.s3.eu-west-1.amazonaws.com;" always;
